*, *:after, *:before{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
fieldset{border: none;}
* {
  margin: 0;
  padding: 0;
}

body, textarea {
  font: normal 100%/normal Helvetica, Arial, sans-serif;
  color: #7b7b7b;
}
a{color: #7b7b7b;}

html, body{
  height: 100%;
  width: 100%;
}

/* Fontes */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-trash, .icon-settings, .icon-speech, .icon-checkmark-circle, .icon-list,
.icon-spin, .icon-mail {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-trash:before {
	content: "\e061";
	color: #e74c3c
}
.icon-settings:before {
	content: "\e06b";
}
.icon-speech:before {
	content: "\e08a";
	display: block;
	font-size: 5em;
}
.icon-checkmark-circle:before {
	content: "\e001";
	color: #1abc9c;
}
.icon-list:before {
	content: "\e007";
	font-size: 1.5em;
}
.icon-spin:before {
	content: "\3f";
	font-size: 5em;
}
.icon-mail:before {
	content: "\e000";
}
.icon-checkmark{
	border: 3px solid;
	border-radius: 26px;
	display: inline-block;
	top: 2px;
	height: 26px;
	position: relative;
	width: 26px;
}

[class^="icon-"]{
	color: #fbfbfb;
	text-decoration: none;
}
.icon-list{padding: 5px;}
.main{background: #ecf0f1;}
.sidebar{background: #ecf0f1;}
.main .header,
.main .icon-list{
	background: #34495e;
}
.sidebar .header,
.sidebar .icon-list{
	background: #7f8c8d;
}
.header{padding: 7px 0; height: 35px;}
.sidebar .header h1{
	color: #fff;
	font-size: 1.2em;
	margin-left: 5px;
}

.limit{padding-right:10px; padding-left: 10px;}
.button-speech{
	background: rgb(26,188,156);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhYmM5YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNmEwODUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(26,188,156,1) 0%, rgba(22,160,133,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,188,156,1)), color-stop(100%,rgba(22,160,133,1)));
	background: -webkit-linear-gradient(top,  rgba(26,188,156,1) 0%,rgba(22,160,133,1) 100%);
	background: -o-linear-gradient(top,  rgba(26,188,156,1) 0%,rgba(22,160,133,1) 100%);
	background: -ms-linear-gradient(top,  rgba(26,188,156,1) 0%,rgba(22,160,133,1) 100%);
	background: linear-gradient(to bottom,  rgba(26,188,156,1) 0%,rgba(22,160,133,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#16a085',GradientType=0 );
	border-radius: 150px;
	-moz-border-radius: 150px;
	-webkit-border-radius: 150px;
	border: 1px solid #16a085;
	display: block;
	height: 150px;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	width: 150px;
}
.button-speech.recording,
.button-speech.recording:hover{
  background: #e74c3c;
}
.button-speech:hover,
.button-speech:focus{
	background: #16a085;
}
.spin-animate{
  -webkit-animation: spinning 3s linear 0s infinite;
}
@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.header-content{
	color: #2a2a2a;
	padding: 15px 0 30px;
	text-align: center;
}
textarea{
	color: #848484;
	margin: 30px 0 10px;
	padding: 10px;
}
textarea, .btn-confirm{
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #bdc3c7;
	font-size: 1em;
	width: 100%
}
.btn-confirm{
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color: #e6e6e6;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	color: #333;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 20px;
	padding: 10px 12px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: middle;
}
.btn-confirm:hover{
	background-position: 0 -15px;
	transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-webkit-transition: background-position 0.1s linear;
}
.footer{
	color: #848484;
	font-size: 0.8em;
	margin: 20px 0 0;
	padding-bottom: 10px;
	text-align: center;
}
.list{
	padding: 10px 5px;
	overflow: hidden;
}
.list li{
	background: #fff;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-border-radius: 3px;
	margin-bottom: 15px;
	padding: 10px;
}
.list li:hover{
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.2) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.6), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
.list-item{
	line-height: 24px;
	padding: 0 0 5px;
	border-bottom: 1px solid #ccc ;
}
.box-actions{
	border-top: 1px solid #e5eceb;
	padding: 10px 0 0;
	text-align: right;
}
.box-actions [class^="icon-"]{
	color: #7f8c8d;
	font-size: 1.6em;
	margin-left: 20px;
}
.box-actions [class^="icon-"]:hover,
.box-actions [class^="icon-"]:focus{
	opacity: 0.8;
}
.list li{
	position:relative;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.list li:before, .list li:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.list li:after
{
	right:10px;
	left:auto;
	-webkit-transform:skew(8deg) rotate(3deg);
	-moz-transform:skew(8deg) rotate(3deg);
	-ms-transform:skew(8deg) rotate(3deg);
	-o-transform:skew(8deg) rotate(3deg);
	transform:skew(8deg) rotate(3deg);
}