*, *:after, *:before{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font: normal 100%/normal Helvetica, Arial, sans-serif;
}
